/* Add your solution here, update variables as you see fit */
:root {
  --c-white: #ffffff;
  --c-yellow: #ffecb5;
  --c-green: #0e7757;
  --c-red: #cc0000;
  --c-dk-gray: #212121;
}

/* Reset some default styles */

* {
  box-sizing: border-box;
}

body, h1, div, p, ul, li, label, input, textarea, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  line-height: 24px;
}

/* Style the navbar */
nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: var(--c-green);
  color: var(--c-white);
}

nav #logo {
  width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  color: var(--c-white);
  text-decoration: none;
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  font-size: 0.9rem;
  color: white;
}

a:focus {
  border-width: 4px;
  outline: 3px dashed var(--c-white);
}

header {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  
}

/* Div with closeable message */
.great-day {
  display: flex;
  justify-content: space-between;
  align-items:first baseline;
  width: 100%;
  padding: 1rem;
  background-color: var(--c-yellow);
}

.great-day--message {
  font-size: 1.125rem;
  margin-right: 2rem;
}

#great-day--button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Header */
.hero--image {
  max-width: 100%;
  margin-inline: auto;
}

.hero--text--heading{
  font-size: 2.375rem;
  font-weight: 400;
  line-height: 40px;
  color: var(--c-green);
  margin-block: 1rem;
  text-decoration: underline;
}

.hero--text-paragraph {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-block: 1rem;
}

/* Main section */
main {
  width: 100%;
  padding-inline: 1rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.validation-message {
  display: block;
  padding-top: 0.4em;
  color: var(--c-red);
}

.error-message {
  color: var(--c-red);
  font-weight: 700;
  display: none;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

.required {
  color: var(--c-red);
  font-weight: 400;
}

input, textarea {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
  margin-inline: auto;
  border: 1.5px solid var(--c-dk-gray);
}

input:focus, 
textarea:focus,
button:focus {
  border-width: 4px;
  outline: 3px dashed var(--c-dk-gray);
}

button[type="submit"]{
  background-color: var(--c-green);
  border: none;
  font-size: 1rem;
  color: var(--c-white);
  padding: 1rem;
  width: 10rem;
  margin-block: 3rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--c-dk-gray);
}
